// define active menu item (global data)
- var activeItem = {label: 'Blocks'}
extends ./layouts/page-layout.jade      
block scripts
  script(type='text/javascript').

// TODO: refactor into reusable mixins!!!
block content
  .row
