include ./link-item.jade
mixin sidebar-menu(activeItem)
  // Sidebar Menu
  .ui.vertical.inverted.sidebar.menu

    each item in menus.main
      +link-item(item, activeItem)

    each item in menus.session
      +link-item(item, activeItem)
